<section class="section">
  <div class="container">
    <h1 class="title has-text-centered is-2 is-size-3-touch has-text-primary">&nbsp;Conocé algunos proyectos</h1>
    <h1 class="subtitle has-text-centered is-4 is-size-6-touch has-text-dark">&nbsp;Que participarón de la votación</h1>
    <br>
    <exhibit url="{{path_for('retrieveProject')}}" :force-feasible="true" :random="true">
      {% include 'loading.twig' %}
    </exhibit>
    <br>
    <p class="has-text-centered">
    <a href="{{path_for('showCatalogo')}}" class="button is-link is-outlined is-medium is-rounded">Conocé el catálogo</a>
    </p>
  </div>
</section>
<a href="{{path_for('showSellos')}}">
<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
        <div class="content has-text-centered-touch">
          <h1 class="title is-4"><i class="fas fa-lock fa-lg"></i>&nbsp;Agregamos integridad a los resultados</h1>
          <p>Con el objetivo de sumar una capa adicional de confiabilidad al proceso de votación de proyectos del Presupuesto Participativo Joven de San Lorenzo, los resultados del mismo se van sellando digitalmente de forma diaria.</p>
          <p>Gracias a <b>Blockchain Federal Argentina</b>, cualquiera puede verificar la integridad de los resultados en su web oficial</p>
          <p><i class="fas fa-arrow-right fa-lg"></i>&nbsp;Conocé más en nuestra seccion "Integridad de los resultados"</p>
        </div>
        </div>
        <div class="column">
        <img src="{{asset('img/blockchain-federal-argentina-white.svg')}}" class="image is-centered" style="width:280px;"></div>
      </div>
    </div>
  </div>
</section>
</a>
