// Custom variables
// Please watch out ot not use same variables as bulma.
// http://bulma.io/documentation/overview/variables/
// Import Bulma's core
@import "~bulma/sass/utilities/_all";
// Set your colors
// $primary: #336acf;
// $primary: #9e2a54;
$primary: #2a285f;
// $primary: #3452ff;
// $primary: #007199;
// $primary: #5d6faf;
$primary-invert: findColorInvert($primary);

$danger: #ca4343;
$success: #5fb769;
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
// COLORS
$link: #3452ff;
$link-invert: findColorInvert($link);
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);


// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;



// FOORTER
$footer-background-color: $black;


// TYPOGRAPHY
$body-size: 14px;
$family-primary: 'Open Sans', $family-sans-serif;
$subtitle-weight: 300;


$notification-padding: 1.25rem 1.5rem 1.25rem 1.5rem;

// NAVBAR
$navbar-item-img-max-height: 3.25rem;
$navbar-item-hover-background-color: transparent;
$navbar-height: 6rem;
$navbar-item-color: rgb(153,153,153);
$navbar-item-hover-color: #3452ff;
//$navbar-item-active-background-color: #3452ff;
$navbar-tab-active-color: rgb(153,153,153);
$navbar-dropdown-item-hover-color: #3452ff;
$navbar-dropdown-arrow: rgb(153,153,153);

$comunitario: #9a9e00;