<p style="font-family: sans-serif; font-size: 12px; font-weight: normal; margin: 0; Margin-bottom: 12px; text-align:center;">
<img src="https://ppjoven.sanlorenzo.gob.ar/assets/img/pp-logo-email.png" alt="Logo PP San Lorenzo" style="width: 200px; margin-bottom: 25px;">
</p>