<hr class="is-marginless">
  <section class="section">
    <div class="container">
      <h1 class="subtitle is-4 has-text-centered">Un trabajo colaborativo entre...</h1>
      <br>
      <div class="columns">
        <div class="column">
        <a href="http://sanlorenzo.gob.ar">
          <img src="{{asset('img/pp-logo-horizontal.svg')}}" class="image logos-footer" alt="">
        </a>
        </div>
        <div class="column">
        <a href="https://www.santafe.gob.ar/ms/gobiernoabierto/colaboracion/santalab/">
          <img src="{{asset('img/logo-sl-sf.svg')}}" class="image logos-footer" alt="">
        </a>
          </div>
        <div class="column">
        <a href="https://democraciaenred.org">
          <img src="{{asset('img/logo-der.svg')}}" class="image logos-footer" alt="">
        </a>
        </div>
        <div class="column">
        <a href="https://virtuagora.org">
          <img src="{{asset('img/logo-v-circle-footer.svg')}}" class="image logos-footer" alt="">
        </a>
        </div>
      </div>
    </div>
  </section>