{% extends 'sl/admin/master.twig' %}

{% block section %}
<h1 class="title is-1">Panel de administración </h1>
<p>
Bienvenido! Aqui podés hacer todas las operaciones de configuracion de la plataforma!
</p>
<p><i class="fas fa-arrow-left fa-fw"></i>&nbsp;Comenzá haciendo clic en alguna función del menú</p>
{% endblock %}