{# set show_footer = true #}
{% set show_navbar = true %}
{# set body_class = '' #}
{% extends 'master.twig' %}
{% block title %}Settings{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
      <account-settings></account-settings>
    </div>
  </section>
{% endblock %}
{% block javascripts %}{% endblock %}