<hr class="is-marginless">
<section class="section">
    <div class="container">
        <h1 class="subtitle is-4 has-text-centered">Un trabajo colaborativo entre...</h1>
        <div class="columns is-multiline is-mobile is-centered">

            <div class="column is-3-tablet is-6-mobile">
                <img src="{{asset('img/logo-sl-footer.svg')}}" class="image logos-footer" alt="">
            </div>
            {# <div class="column is-3-tablet is-6-mobile">
                <img src="{{asset('img/santalab-logo-footer.svg')}}" class="image logos-footer" alt="">
            </div>
            <div class="column is-3-tablet is-6-mobile">
                <img src="{{asset('img/logo-der.svg')}}" class="image logos-footer" alt="">
            </div> #}
            <div class="column is-3-tablet is-6-mobile">
                <img src="{{asset('img/logo-v-circle-footer.svg')}}" class="image logos-footer" alt="">
            </div>
        </div>
    </div>
</section>
