<a href="https://sanlorenzo.gob.ar/medidas-tomadas-por-el-gobierno/" target="_blank">
<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
        <div class="content has-text-centered-touch">
          <h1 class="title is-3 has-text-link">Coronavirus</h1>
          <p class="is-size-5"><b>Quedate en casa y pensa ideas, proyectos para tu barrio, tu ciudad, la organización sin fines de lucro en la que participás.</b></p>
          <p>Los proyectos pueden ser ingresados, a partir del Lunes 29 de Junio hasta el Viernes 24 de Julio.</p>
          <p class="has-text-link"><i class="fas fa-arrow-right fa-lg"></i>&nbsp;Conoce las medidas que llevaron a cabo la Municipalidad de San Lorenzo.</p>
        </div>
        </div>
        <div class="column">
        <img src="{{asset('img/prevencion-covid19.svg')}}" class="image is-centered" style="width:150px;"></div>
      </div>
    </div>
  </div>
</section>
</a>