<a href="{{path_for('showResultsPPJoven')}}">
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
        <div class="content has-text-centered-touch">
          <h1 class="title is-4 has-text-primary"><i class="fas fa-medal fa-lg"></i>&nbsp;Presupuesto Participativo Joven</h1>
          <p>El día jueves 15 de Agosto en el SUM del Parador Turístico de nuestra ciudad, se llevó a cabo el escrutinio definitivo del proceso de votación del Presupuesto Participativo Joven 2019.</p>
          <p class="has-text-link"><i class="fas fa-arrow-right fa-lg"></i>&nbsp;¡Conocé los resultados del Presupuesto Participativo Joven!</p>
        </div>
        </div>
        <div class="column">
        <img src="{{asset('img/ppj-color.svg')}}" class="image is-centered" style="width:250px;"></div>
      </div>
    </div>
  </div>
</section>
</a>