<div class="hero is-primary is-medium has-image-background" style="background-image: url({{asset('img/ppj-2022-bg.jpg')}})">
  <div class="hero-body">
    <div class="container has-text-centered">
    <h4 class="subtitle is-4 is-size-5-touch is-800 has-text-white shadow-text">ESTE AÑO NOS VOLVEMOS A VER</h4>
    <h1 class="title is-2 is-size-3-touch has-text-primary is-800">¡VUELVE LA PRESENCIABILIDAD!</h1>
    <br>
    <img src="{{asset('img/ojito.svg')}}" class="image mx-auto" width="100" alt="">
    </div>
  </div>
</div>