{% set show_footer = true %}
{% set show_navbar = true %}
{# set body_class = '' #}

{% block title %}
  Datos y estadísticas
{% endblock %}

{% extends 'master.twig' %}

{% block body %}
  <div class="hero is-primary">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-1">
          <i class="fas fa-chart-line fa-lg"></i>
        </h1>
        <h1 class="title is-2">El #PPSanLorenzo en datos</h1>
        <h1 class="subtitle is-5">El Presupuesto Participativo Joven de San Lorenzo se implementa de manera ininterrumpida desde 2013. Aquí encontrarás información y datos históricos de cada una de las ediciones.</h1>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <h1 class="title is-3 has-text-centered has-text-primary">Evolución del Presupuesto Participativo</h1>
      <table class="table is-fullwidth is-hoverable is-narrow is-bordered">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>2013</th>
            <th>2014</th>
            <th>2015</th>
            <th>2016</th>
            <th>2017</th>
            <th>2018</th>
            <th>2019</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Presupuesto Asignado</th>
            <td>$600.000</td>
            <td>$750.000</td>
            <td>$1.350.000</td>
            <td>$1.750.000</td>
            <td>$1.935.000</td>
            <td>$2.223.000</td>
            <td>$3.001.050</td>
          </tr>
          <tr>
            <th>Propuestas Presentadas</th>
            <td>78</td>
            <td>109</td>
            <td>111</td>
            <td>64</td>
            <td>83</td>
            <td>92</td>
            <td>96</td>
          </tr>
          <tr>
            <th>Proyectos Factibles</th>
            <td>40</td>
            <td>59</td>
            <td>90</td>
            <td>35</td>
            <td>51</td>
            <td>68</td>
            <td>68</td>
          </tr>
          <tr>
            <th>Proyectos Ganadores</th>
            <td>18</td>
            <td>18</td>
            <td>21</td>
            <td>10</td>
            <td>26</td>
            <td>27</td>
            <td>27</td>
          </tr>
          <tr>
            <th>Cant. de Participantes</th>
            <td>775</td>
            <td>664</td>
            <td>883</td>
            <td>447</td>
            <td>1193</td>
            <td>1625</td>
            <td>1248</td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-3 has-text-centered has-text-primary">Cantidad Histórica de Votantes</h1>
          <div class="subtitle is-5 has-text-centered">(2013-2019)</div>
          <stat-lines :the-labels="[2013,2014,2015,2016,2017,2018,2019]" :the-data="[{label:'Votantes',data:[775, 664, 883, 447, 1193, 1625, 1247], borderColor: '#9e2a54',
        backgroundColor: 'rgba(157, 42, 84, 0.25)', pointRadius: 8, pointHoverRadius:10}]" :height="300"></stat-lines>
        </div>
        <div class="column is-6">
          <h1 class="title is-3 has-text-centered has-text-primary">Participación Online Vs. Presencial</h1>
          <div class="subtitle is-5 has-text-centered">(Año 2018,2019)</div>
          <stat-bars 
            :the-labels="['Votantes 2018','Votantes 2019']"
            :the-data="[{label:'x/ Web',data:[629, 572],borderWidth:2,borderColor: '#2274a5', backgroundColor: 'rgba(72, 99, 157, 0.25)'},
            {label:'x/ Boleta',data: [996,57], borderWidth:2,borderColor: '#9e2a54', backgroundColor: 'rgba(157, 42, 84, 0.25)'},
            {label:'x/ Tablet',data: [0,617], borderWidth:2,borderColor: '#f75c03', backgroundColor: 'rgba(247, 92, 2, 0.25)'},
            {label:'x/ WhatsApp',data: [0,2], borderWidth:2,borderColor: '#3bb273', backgroundColor: 'rgba(59,178,115, 0.25)'}]" :height="300"></stat-bars>
        </div>
      </div>
      <div class="message is-dark">
    <div class="message-body">
      <nav class="level">
        <div class="level-item">
          <h1 class="title is-3">Participación 2018</h1>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="fas fa-laptop"></i>
              Web</p>
            <p class="title">629</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="far fa-envelope"></i>
              Papel</p>
            <p class="title">996</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="fas fa-users"></i>
              Total</p>
            <p class="title">1625</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
      <div class="message is-dark">
    <div class="message-body">
      <nav class="level">
        <div class="level-item">
          <h1 class="title is-3">Participación 2019</h1>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="fas fa-laptop"></i>
              Web</p>
            <p class="title">572</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="fas fa-tablet-alt"></i>
              Tablet</p>
            <p class="title">617</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="fab fa-whatsapp"></i>
              Link</p>
            <p class="title">2</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="far fa-envelope"></i>
              Papel</p>
            <p class="title">57</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">
              <i class="fas fa-users"></i>
              Total</p>
            <p class="title">1248</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-3 has-text-centered has-text-primary">Distribución de la Votación por Distrito</h1>
          <div class="subtitle is-5 has-text-centered">(2013-2019)</div>
          <stat-lines :the-labels="[2013,2014,2015,2016,2018,2019]" :the-data="[{label:'Norte',data:[232,264,204,180,317,292], borderColor: '#7768ae',
        backgroundColor: 'rgba(157, 42, 84, 0)', pointRadius:6, pointHoverRadius:8},
        {label:'Centro',data:[246,135,234,63,676,419], borderColor: '#3bb273',
        backgroundColor: 'rgba(157, 42, 84, 0)', pointRadius:6, pointHoverRadius:8},
        {label:'Sur',data:[297,264,435,234,633,573], borderColor: '#e1bc29',
        backgroundColor: 'rgba(157, 42, 84, 0)', pointRadius:6, pointHoverRadius:8}]" :height="300"></stat-lines>
          <p class="is-size-7 has-text-centered">No se registran datos para 2017</p>
        </div>
        <div class="column is-6">
          <h1 class="title is-3 has-text-centered has-text-primary">Cantidad de Proyectos por Distrito</h1>
          <div class="subtitle is-5 has-text-centered">(2013-2019)</div>
          <stat-lines :the-labels="[2013,2014,2015,2016,2017,2018,2019]" :the-data="[
            {label:'Norte',data:[5,7,7,2,5,10,10], borderColor: '#7768ae',
        backgroundColor: 'rgba(157, 42, 84, 0)', pointRadius:6, pointHoverRadius:8},
        {label:'Centro',data:[6,7,10,3,11,9,9], borderColor: '#3bb273',
        backgroundColor: 'rgba(157, 42, 84, 0)', pointRadius:6, pointHoverRadius:8},
        {label:'Sur',data:[7,4,4,5,10,8,8], borderColor: '#e1bc29',
        backgroundColor: 'rgba(157, 42, 84, 0)', pointRadius:6, pointHoverRadius:8}]" :height="300"></stat-lines>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <h1 class="title is-3 has-text-centered has-text-primary">Género en las votaciones</h1>
          <div class="subtitle is-5 has-text-centered">(Años 2013,2016,2018 y 2019)</div>
          <stat-bars :the-labels="[2013,2016,2018,2019]" :the-data="[{label:'Masculinos',data:[256,162,546,414],borderWidth:2,borderColor: '#48639c',
        backgroundColor: 'rgba(72, 99, 157, 0.25)'},
        {label:'Femeninos',data:[519,315,1079,834],borderWidth:2,borderColor: '#f7996e',
        backgroundColor: 'rgba(247, 153, 110, 0.25)'}]" :height="300"></stat-bars>
        </div>
        <div class="column is-6">
          <h1 class="title is-3 has-text-centered has-text-primary">Edad de los votantes a lo largo de los años</h1>
          <div class="subtitle is-5 has-text-centered">(Años 2013,2016,2018 y 2019)</div>
          <stat-stacked-bars :the-labels="[2013,2016,2018,2019]" :the-data="[
      {label:'16 a 25',data:[140,91,252,202],borderWidth:2,borderColor: '#2274a5',
        backgroundColor: 'rgba(72, 99, 157, 0.25)'},
        {label:'26 a 35',data:[209,100,416,294],borderWidth:2,borderColor: '#f1c40f',
        backgroundColor: 'rgba(241, 196, 14, 0.25)'},
        {label:'36 a 45',data:[124,119,437,322],borderWidth:2,borderColor: '#f75c03',
        backgroundColor: 'rgba(247, 92, 2, 0.25)'},
        {label:'Más de 46',data:[302,167,520,230],borderWidth:2,borderColor: '#d90368',
        backgroundColor: 'rgba(216, 3, 103, 0.25)'}]" :height="300"></stat-stacked-bars>
        </div>
      </div>
    </div>
    <br><br>
     <p class="is-size-7 is-300 has-text-centered"><u>Fuentes</u><br>Apodaca, E. (2017). Presupuesto Participativo y Desigualdades Territoriales: Una mirada a la ciudad de San Lorenzo 2013-2016. (tesis de grado). Universidad Nacional de Rosario, Santa Fe, Argentina."  
<br>
Equipo técnico de la Secretaría de Coordinación General, Municipalidad San Lorenzo.</p>
<br>
<div class="container">
<hr>

{% include 'sl/pages/escrutinio.twig' %}
</div>
  </div>
</section>
<div class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-3 has-text-centered">El Presupuesto Participativo 2018 para descargar</h1>
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title is-4">Descargate el escrutinio final</h1>
            <h1 class="subtitle is-6">Vas a encontrar todos los proyectos del #PPSanLorenzo2018</h1>
           <div class="buttons is-centered">
              <a href="{{asset('data/pp-sl-2018-escrutinio.csv')}}" class="button is-link" target="_blank">
                <i class="fas fa-download"></i>&nbsp; Descargar .csv (Proyectos)</a>
            </div>
          <p class="tag is-white">MD5 Checksum: fa83741cd7e96cafd8dd8a84526c36d7</p>
        </div>
        <div class="column has-text-centered">
          <h1 class="title is-4">Descargarte los votos</h1>
            <h1 class="subtitle is-6">Los listado son anónimos</h1>
            <div class="buttons is-centered">
              <a href="{{asset('data/pp-sl-2018-votos-online-presencial.csv')}}" class="button is-link" target="_blank">
                <i class="fas fa-download"></i>&nbsp; Descargar .csv (ONLINE Y PRESENCIAL)</a>
            </div>
            <p class="tag is-white">MD5 Chechsum: c6d1585d6f065d97fe42ba8f54eb7851</p>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}