{% set show_footer = true %}
{% set show_navbar = true %}
{# set body_class = '' #}

{% block title %}
  Términos y Condiciones San Lorenzo
{% endblock %}

{% extends 'master.twig' %}

{% block body %}
  <div class="hero is-primary">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-3">Términos y Condiciones San Lorenzo</h1>
        <nav class="breadcrumb is-centered is-marginless is-hidden-touch" aria-label="breadcrumbs">
          <ul>
            <li>
              <a href="#pp">Presentación y ejecución de proyectos de Presupuesto Participativo</a>
            </li>
            <li>
              <a href="#acerca">Acerca de este sitio</a>
            </li>
            <li>
              <a href="#usuarios">Usuarios, obligaciones y condiciones</a>
            </li>
            <li>
              <a href="#privacidad">Políticas de privacidad</a>
            </li>
          </ul>
        </nav>
          <ul class="is-hidden-desktop">
            <li>
              <a href="#acerca">Acerca de este sitio</a>
            </li>
            <li>
              <a href="#usuarios">Usuarios, obligaciones y condiciones</a>
            </li>
            <li>
              <a href="#privacidad">Políticas de privacidad</a>
            </li>
          </ul>

      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2 content">
          <p>El uso de la plataforma digital de Presupuesto Participativo indica la aceptación de estos Términos y Condiciones y de la Política de Privacidad.
          </p>
          <p>Para la Municipalidad de San Lorenzo es muy importante proteger los datos personales; por ello, comprendemos la necesidad de contar con tu consentimiento previo, informado, expreso e inequívoco antes de efectuar el tratamiento de tus datos.
          </p>
          <hr>
          <h1 id="pp" class="title">
            <b>Términos y condiciones para la presentación y ejecución de proyectos de Presupuesto Participativo</b>
          </h1>
<p>(1) La Municipalidad ejecuta los proyectos ganadores. NO ENTREGA DINERO A LOS VECINOS, NI A LAS INSTITUCIONES. Los ejecuta la secretaría correspondiente, si es una obra, la Secretaría de obras públicas por ejemplo.</p>
<p>(2) Si es necesario realizar una compra en el marco de un proyecto, el municipio es quien la realiza cumpliendo con todos los requisitos legales que rigen para una organización pública. Según el monto: compra directa, concurso de precios, licitación. Y se compra a los proveedores inscriptos en la Municipalidad. </p>
<p>(3) El municipio realiza la selección de los profesionales, especialistas, que se necesiten para la ejecución de un proyecto. Si alguien presenta un proyecto para ser ejecutado por determinada persona, se puede tomar el proyecto, pero con la aclaración de que es el municipio quien designa a las personas, no lo puede designar el presentante del proyecto. EJ. Si un profesor de baile presenta un proyecto para enseñar una determinada danza de su especialidad en una vecinal, se puede considerar factible el proyecto, pero el municipio designará al profesor que esté inscripto como proveedor de la municipalidad, si no lo tuviera, realizará una selección, pero el que lo haya presentado no le garantiza que será el profesor designado.</p>
<p>(4) El municipio realiza los contratos de las personas que sean necesarias para llevar adelante un proyecto de Presupuesto Participativo, las mismas no pueden comenzar a trabajar hasta que el contrato esté firmado.</p>
<p>(5) Se requiere firma Compromiso de utilización de materiales en la realización de la obra presentada en el proyecto, en el caso de poner como aportes comunitarios la mano de obra para la realización de la obra. </p>
<p>(6) Si el proyecto ofrece como aporte comunitario la cesión de un espacio para la realización de actividades, como por ejemplo el salón de una vecinal, se debe adjuntar al mismo,  el compromiso firmado por la autoridad competente, de tal acuerdo.</p>
<p>(7) Pueden presentar proyectos todos los sanlorencinos, mayores de 16 años, y las instituciones que cumplan con las condiciones establecidas reglamentariamente. </p>
<p>(8) Para participar de los  “proyectos institucionales”, las organizaciones deberán presentar, antes de la devolución de factibilidad, copia de la constancia de la inscripción legal en Inspección General de Personas Jurídicas de la Provincia de Santa Fe, del último acta de constitución de autoridades y del estatuto (Se pueden cargar en la página, al presentar el proyecto). Incluye asociaciones vecinales, clubes sociales y entidades de bien público sin fines de lucro que estarán representadas por sus autoridades legales.</p>
<p>(9) Las instituciones que han participado en ediciones anteriores y ya presentaron la documentación, no necesitan volver a presentarla, solo el acta de constitución de autoridades, si la misma se ha actualizado. </p>
          <h1 id="acerca" class="title">
            <b>Acerca de este sitio</b>
          </h1>
          <ul>
            <li>
              <a href="#registro">Registro</a>
            </li>
            <li>
              <a href="#votaciones">Votaciones</a>
            </li>
          </ul>
          <p>La plataforma digital de Presupuesto Participativo es un nuevo canal entre los ciudadanos de San Lorenzo y el Gobierno Municipal, desarrollado en software libre por las organizaciones civiles SantaLab, Vituágora y la Fundación Democracia en Red. Tiene como objetivo promover la participación en el Presupuesto Participativo y fortalecer la democracia en la ciudad.</p>
          <p>Es una apuesta por una participación más amplia, que contribuirá a tomar las decisiones más acertadas para el interés general.</p>
          <p>Podrá participar toda persona humana con domicilio en la ciudad de San Lorenzo y que se registre en la Plataforma Digital. Al registrarse, se entiende que el usuario acepta los presentes Términos y Condiciones y la Política de Privacidad.</p>
          <h2 id="registro" class="subtitle">Registro</h2>
          <p>El ingreso a la plataforma digital de Presupuesto Participativo no requiere registro online previo. El mismo será requerido si deseas publicar comentarios o votar. En ese caso deberás completar un formulario o registrarte con tu cuenta de Facebook. En caso de indicar una cuenta de correo electrónico se te enviará un link para confirmar el registro.</p>
          <p>Deberás registrarte usando tu nombre y documento de identidad. Las cuentas de “bots” u otros registros automáticos no están permitidos. Los usuarios son responsables de preservar la privacidad de su cuenta protegiendo el acceso con contraseña. Ante cualquier ingreso indebido en tu cuenta, por favor, comunícate inmediatamente a presupuestoparticipativo.sl@gmail.com</p>
          <p>La Municipalidad de San Lorenzo se reserva el derecho de validar la información brindada por el usuario al momento de la inscripción. En caso de que la información brindada no pueda validarse, La Municipalidad se reserva el derecho de no dar de alta a ese usuario. Por su parte, la Municipalidad de San Lorenzo deslinda su responsabilidad en el caso de no ser veraz la información suministrada al respecto.</p>
          <p>Al momento de la inscripción el usuario asume el compromiso y la responsabilidad de:</p>
          <ul>
            <li>No proporcionar información personal falsa ni crear cuentas a nombre de terceros sin autorización.</li>
            <li>No crear más de una cuenta personal.</li>
            <li>No compartir la contraseña, ni permitir a otra persona el acceso a su cuenta.</li>
            <li>Notificar a presupuestoparticipativo.sl@gmail.com en casos de uso no autorizado de su clave.</li>
          </ul>
          <p>La Municipalidad de San Lorenzo se reserva el derecho de rechazar cualquier solicitud de inscripción o de cancelar un registro previamente aceptado.</p>
          <h2 id="votaciones" class="subtitle">Votaciones</h2>
          <p>Para poder votar online es imprescindible indicar, además de proporcionar una cuenta de correo electrónico o una cuenta de Facebook (ver “Registro”), nombre y apellido completos y número de documento.</p>
          <p>Cada persona puede votar una única vez.</p>
          <p>Por favor, ante cualquier duda o problema con el ejercicio del voto, comunícate con
            <a href="mailto:presupuestoparticipativo.sl@gmail.com">presupuestoparticipativo.sl@gmail.com</a>.</p>
          <hr>
          <h1 id="usuarios" class="title">
            <b>Usuarios, obligaciones y condiciones</b>
          </h1>
          <ul>
            <li>
              <a href="#prohibido">Actividades prohibidas</a>
            </li>
            <li>
              <a href="#moderacion">Moderación</a>
            </li>
          </ul>
          <p>El usuario deberá respetar estos Términos y Condiciones de Uso. Las infracciones por acción u omisión de estos Términos y Condiciones de Uso generarán el derecho a favor de la Municipalidad de San Lorenzo de suspender al usuario que las haya realizado.</p>
          <p>El usuario es responsable del contenido que suba, publique o muestre en la plataforma digital de Presupuesto Participativo, garantizando que el mismo no infringe derechos de terceros ni los Términos y Condiciones de Uso, ni viola ninguna ley, reglamento u otra normativa. Los usuarios entienden y aceptan que el material y/o contenido que suban y/o publiquen podría ser utilizado por otros usuarios de la plataforma web y/o por terceras personas ajenas, y que la Municipalidad de San Lorenzo no será responsable en ningún caso por tales utilizaciones.</p>
          <p>El usuario debe usar la plataforma digital de Presupuesto Participativo en forma correcta y lícita. En caso contrario, la Municipalidad de San Lorenzo podrá retirar el contenido y/o suspender la cuenta de aquellos usuarios que incurran en actitudes contrarias a estos Términos y Condiciones y/o de la Política de Privacidad o aquellas actitudes ofensivas, ilegales, violatorias de derechos de terceros y/o amenaza para la seguridad de otros usuarios.</p>
          <p>Las colaboraciones y comentarios que los usuarios realicen con respecto a las iniciativas propuestas, las mismas no son de carácter vinculante, obligatorio y/o imperativo sobre las acciones de la Municipalidad de San Lorenzo.</p>
          <p>La adecuada utilización de todos los recursos de Internet es, sin excepción, de entera responsabilidad del usuario de la plataforma digital. ​</p>
          <h2 id="prohibido" class="subtitle">Actividades prohibidas</h2>
          <p>Las siguientes actividades se encuentran vedadas, y será pasible de sanción quien las realice:</p>
          <ul>
            <li>Hostigar, acosar, o amenazar a otros usuarios.</li>
            <li>Infringir los derechos a la intimidad de otros usuarios.</li>
            <li>Solicitar información personal identificable de otros usuarios con el propósito de hostigar, atacar, explotar, o violar la intimidad de los mismos;</li>
            <li>Publicar de manera intencionada o con conocimiento injurias o calumnias;</li>
            <li>Publicar, con el intento de engañar, contenido que fuese falso o inexacto;</li>
            <li>Intentar usurpar la identidad de otros usuarios, representando de manera falsa su filiación con cualquier individuo o entidad, o utilizar el nombre de otros usuarios con el propósito de engañar;</li>
            <li>Promover, defender o mostrar pornografía, obscenidad, vulgaridad, blasfemia, odio, fanatismo, racismo o violencia.</li>
            <li>Vulnerar los derechos establecidos en la Ley N° 25.326 de Protección de Datos Personales.</li>
          </ul>
          <p>En caso de sufrir alguna de estas situaciones, comunícate con la Municipalidad de San Lorenzo a través de
            <a href="mailto:presupuestoparticipativo.sl@gmail.com">presupuestoparticipativo.sl@gmail.com</a>.</p>
          <h2 id="moderacion" class="subtitle">Moderación de la actividad en la plataforma digital de Presupuesto Participativo</h2>
          <p>La actividad en la plataforma digital de Presupuesto Participativo contará con un equipo de moderación responsable, con el espíritu de hacer cumplir estos Términos y Condiciones. El equipo será designado por la Municipalidad de San Lorenzo en pos de fomentar un diálogo franco y abierto que evite afrentas a personas o instituciones, material comercial no relacionado (SPAM) u otros desvíos que desvirtúen la intención original del programa Presupuesto Participativo.</p>
          <p>Aún así, la moderación se reserva el derecho de:</p>
          <ul>
            <li>Rechazar o eliminar contenido que no cumpla con estos Términos y Condiciones de uso o que de cualquier forma, sea cuestionable.</li>
            <li>Quitar el acceso a quien no cumpliera, de alguna forma, con estos Términos y Condiciones de uso.</li>
          </ul>
          <hr>
          <h1 id="privacidad" class="title">
            <b>Políticas de privacidad</b>
          </h1>
          <ul>
            <li>
              <a href="#info-usuarios">Información proporcionada por los usuarios</a>
            </li>
            <li>
              <a href="#info-plataforma">Información obtenida a partir del uso de la plataforma</a>
            </li>
            <li>
              <a href="#modificacion">Modificación de términos y vigencia</a>
            </li>
            <li>
              <a href="#limitacion">Limitación de responsabilidad</a>
            </li>
            <li>
              <a href="#normativa">Normativa aplicable</a>
            </li>
          </ul>
          <p>La recolección y tratamiento de los datos personales tiene como finalidad conocer sobre el uso de la plataforma digital de Presupuesto Participativo y mejorar la propuesta.</p>
          <p>Los datos recabados tienen por único objeto impedir que los comentarios o votos sean cursados por personas diferentes y evitar abusos en el uso de la plataforma. La información personal entregada al participar es separada completamente del voto cursado, con lo que nadie podrá vincular esas informaciones. La información será utilizada exclusivamente para obtener estadísticas generales de los usuarios.</p>
          <h2 id="info-usuarios" class="subtitle">Información proporcionada por los usuarios</h2>
          <p>El uso efectivo de la plataforma digital de Presupuesto Participativo requiere que los usuarios se registren. En ese caso, se solicitará información personal directa (como nombre y apellido, documento de identidad, dirección de correo electrónico, entre otros) y la que nos proporciones indirectamente, tal como cookies (información sobre preferencias del usuario cuando visita una página web), tipo de navegador, página de referencia, avance a través del sitio, dominio ISP, conexiones y sistemas de información. Toda la información de cookies será almacenada en formatos que no permitan identificar a su titular.</p>
          <p>Al utilizar un dispositivo digital que pueda registrar su ubicación física, es posible llevar a cabo la recolección y el tratamiento de datos acerca de tu ubicación real, por ejemplo, las señales de GPS enviadas por un dispositivo móvil. También es posible utilizar diferentes tecnologías para determinar la ubicación, como los datos de los sensores del dispositivo que proporcionen, por ejemplo, información sobre los puntos de acceso Wi-Fi y las antenas de telefonía móvil más cercanos. En el caso de no estar registrado el usuario, estos datos serán almacenados en forma anónima. Cookies e identificadores anónimos.</p>
          <p>El perfil de un usuario visible públicamente puede incluir el nombre y la foto seleccionada.</p>
          <p>La Municipalidad de San Lorenzo puede compartir tus datos personales con terceros, a fin de llevar a cabo el desarrollo de la plataforma digital de Presupuesto Participativo.</p>
          <p>Salvo que expresamente se manifieste lo contrario, el Municipio no ofrece ni comercializa por sí ni por medio de terceros la información, contenidos y servicios disponibles en el la plataforma digital o páginas enlazadas, ni los controla previamente, aprueba, vigila, ni los hace propios.</p>
          <p>Asimismo, si un usuario se pone en contacto con la Municipalidad de San Lorenzo, es posible que guardemos constancia de la comunicación para poder resolver más fácilmente cualquier inconveniente que se pueda haber producido.</p>
          <p>Las direcciones de correo electrónico o cuenta de Facebook sólo se utilizarán para enviar notificaciones sobre el uso de la plataforma digital, avisos sobre futuras votaciones o consultas u otra información sobre el Presupuesto Participativo. No obstante, cada usuario podrá darse de baja en cualquier momento si así lo desea. Como usuario podés ejercer los derechos que como titular de datos personales te asisten (acceso, rectificación, cancelación, oposición, información o revocación).
          </p>
          <p>Para tal efecto, puedes comunicarte a
            <a href="mailto:presupuestoparticipativo.sl@gmail.com">presupuestoparticipativo.sl@gmail.com</a>
          </p>
          <h2 id="info-plataforma" class="subtitle">Información obtenida a partir del uso de la plataforma</h2>
          <p>La plataforma digital de Presupuesto Participativo puede recopilar información sobre la forma en que los usuarios usan la plataforma. Entre la información obtenida de esta forma, se incluye el tipo de navegador utilizado, la preferencias de lenguaje y los comentarios que ha realizado.</p>
          <p>La Municipalidad de San Lorenzo podrá compartir información de manera agregada, y en carácter no personal, con el público en general (por ejemplo, mostrar tendencias sobre el uso del sitio).</p>
          <p>Asimismo, la Municipalidad garantiza la debida protección de los datos personales almacenados en esta plataforma digital así como también el acceso a la información registrada en la misma, de conformidad a lo establecido en el artículo 43, párrafo tercero de la Constitución Nacional y la Ley N° 25.326 de Protección de los Datos Personales.</p>
          <h2 id="modificacion" class="subtitle">Modificación de términos y vigencia</h2>
          <p>El Municipio puede alterar las condiciones de estos términos en cualquier momento, sin comunicación previa. Su uso continuo significa la aceptación de esos cambios.</p>
          <h2 id="limitacion" class="subtitle">Limitación de responsabilidad</h2>
          <p>El Municipio no garantiza que el contenido de la plataforma digital sea exacto, completo, actual o libre de errores técnicos o tipográficos.</p>
          <p>El Municipio se reserva el derecho de realizar cambios y/o actualizaciones de cualquier información contenida en la plataforma digital sin previo aviso.</p>
          <p>El Municipio no se responsabiliza por cualquier daño que resultara por el uso o la inhabilidad en el uso de la plataforma digital o cualquiera de los sitios enlazados, o descarga de cualquier información, dato, texto, imagen, video, audio, software u otros materiales accesibles a través del mismo.</p>
          <p>El Municipio no garantiza que las funciones contenidas en la plataforma digital estarán libres de interrupciones en el servicio o libres de error, tampoco garantiza inmediatez en la corrección de los defectos.</p>
          <p>El Municipio se reserva el derecho, a su propia discreción y sin ninguna obligación, de realizar mejoras o corregir cualquier error u omisión en cualquiera de los contenidos publicados.</p>
          <p>El Municipio no se responsabiliza por el uso indebido que hagan los Usuarios de los contenidos de la plataforma digital; entendiéndose por contenidos toda información, dato, texto, imagen, video, audio, software u otros materiales multimedia accesibles a través del mismo.</p>
          <p>La Municipalidad de San Lorenzo no garantiza o refrenda la exactitud y la veracidad de la información publicada ni los contenidos incluidos, distribuidos, enlazados, descargados u obtenidos de la plataforma digital.</p>
          <p>La Municipalidad de San Lorenzo no se compromete a revisar previamente a su difusión los contenidos, por lo que no es responsable, en ningún caso de su exactitud, su veracidad, o de su adecuación a la legislación vigente, entre otras la referida a derechos de propiedad intelectual e industrial, intimidad, honor y/o propia imagen.</p>
          <p>La Municipalidad de San Lorenzo expresamente declina cualquier garantía, expresa o implícita, con respecto a cualquier servicio, material y/o producto, incluyendo, a título enunciativo y no limitativo, las garantías relativas a los niveles de calidad, expectativas de negocio y de adecuación a objetivos particulares de los usuarios.</p>
          <p>La Municipalidad de San Lorenzo no asumirá bajo ninguna circunstancia la responsabilidad de cualquier reclamación, daño, pérdida o demanda de ningún tipo con respecto al contenido de la plataforma digital de Presupuesto Participativo, incluyendo, a título enunciativo y no limitativo, pérdidas directas, indirectas o accidentales (ya sean pérdidas económicas, de datos, o de utilización de los servicios), con independencia de que hayan sido notificadas o no.</p>
          <h2 id="normativa" class="subtitle">Normativa aplicable</h2>
          <p>Las normas del ordenamiento jurídico argentino rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes de la Provincia de Santa Fe.</p>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}