<div class="notification is-light has-text-centered">
  <i class="fas fa-spinner fa-lg fa-pulse"></i>
  <br>
  Cargando, un momento por favor
  <br>
  <span class="is-size-7">¿No carga?
    <a onclick="location.reload()">Recargue la página</a>
  </span>
</div>