{# set show_footer = true #}
{# set show_navbar = false #}
{# set body_class = '' #}

{# {% extends 'master.twig' %}

{% block body %}
  <a href="{{path_for('showHome')}}" target="_blank">
    <img alt="" class="error-logo-float" src="{{ asset('img/v-g.svg') }}">
  </a>
  <section class="hero is-link is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <span class="icon is-large">
              <i class="fa fas fa-info-circle fa-3x"></i>
            </span>
            <h4 class="subtitle is-5">{{message}}</h4>
            <a class="button is-white is-outlined" href="{{path_for('showHome')}}">
              <i class="fas fa-home"></i>&nbsp;&nbsp;Ir al inicio</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %} #}